<nav class="breadcrumb-wrapper" aria-label="Breadcrumb">
  <a href="{{ routes.root_url }}" class="root-crumb crumb-list">Home</a>

  <span class="separator">/</span>
  <span class="end-crumb crumb-list">{{ title }}</span>
</nav>
