<div class="add-to-cart-qty-wrapper" data-min="1" data-max="{{ product.variants.first.inventory_quantity }}">
  <button type="button" class="qty-btn minus">-</button>
  <div class="quantity-input">{{ appliedQty }}</div>
  <button type="button" class="qty-btn plus">+</button>
</div>
