{% if product.compare_at_price > product.price %}
  {% assign discount = product.compare_at_price | minus: product.price %}
  {% assign raw_percentage = discount | times: 100 %}
  {% assign percentage = raw_percentage | divided_by: product.compare_at_price %}
  {% assign percentage = percentage | floor %}
{% endif %}

{% if product.tags.size > 0 or percentage %}
  <div class="product-tag-wrapper">
    {% if percentage %}
      <span class="tag-name">-{{ percentage }}%</span>
    {% endif %}
    {% for tag in product.tags %}
      <span class="tag-name">{{ tag }}</span>
    {% endfor %}
  </div>
{% endif %}
