<div class="search-drawer-wrapper" id="search-drawer">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="search-drawer-content">
          <div class="search-drawer-input-field-wrapper">
            <div class="search-drawer-input-field-group">
              <img
                src="{{ 'search-icon.png' | asset_url }}"
                alt="Search Icon"
                height="32"
                width="32"
                class="search-drawer-icon"
              >
              <input
                type="text"
                class="search-field-input"
                id="search-field-input"
                placeholder="Search your products.."
                autocomplete="off"
              >
            </div>
          </div>
          <div class="search-product-result-wrapper">
            <div class="search-product-list" id="search-product-list"></div>
            <div class="loader search-list-loader hidden" id="search-loader"></div>
            <div class="total-product-count" id="searched-product-total-count"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
