@font-face {
  font-family: "Brandon Grotesque";
  src: url("../assets/BrandonGrotesque-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url('{{ "BrandonGrotesque-Medium.woff2" | asset_url }}') format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Scotch Display";
  src: url("../assets/ScotchDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Scotch Display";
  src: url("../assets/ScotchDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

//fonts
$font-family-scotch: "Scotch Display", sans-serif;
$font-family-brandon: "Brandon Grotesque", sans-serif;

// Icon font size
$icon-size: 1.2rem;
$sm-icon-size: 0.8rem;

// Background color
$dark-bgColor: #303336;
$light-bgColor: #fff;

// Divider color
$divider-color: #30333699;

// Box Shadow
$card-box-shadow:
  10px 10px 20px #babecc,
  -10px -10px 20px #fff;
$box-shadow: rgba(48, 51, 54, 0.16) 0px 1px 3px;

// Dark Text color
$dark-primary-textColor: #303336;
$dark-secondary-textColor: #000;

// Light Text Color
$light-primary-textColor: #fff;
$light-secondary-textColor: #f2f2f299;

// Other color
$green-color: #025a31;
$light-grey: #f2f2f299;
$white-color: #fff;
$dark-color: #303336;
$red-color: #e4022e;
$dark-red-color: #720519;
$dark-green-color: #014826;
