@use "../abstracts/breakpoints" as *;
@use "../abstracts/variables" as *;

.feature-banner-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  &.banner-parallex {
    @include responsive(tablet) {
      background-size: contain;
      background-position: unset;
    }
  }

  &.feature-banner-large {
    height: 780px;
    padding: 80px 0;
  }

  &.feature-banner-medium {
    height: 50vh;
    padding: 60px 0;

    @media (max-width: 980px) {
      height: 50vh;
    }
  }

  &.feature-banner-small {
    height: 30vh;
    padding: 40px 0;

    .feature-banner-title {
      font-size: 2rem !important;
      font-weight: 600;
      color: $dark-primary-textColor;
      line-height: 1.2;
      margin: 0;
    }

    .feature-subtitle {
      font-size: 1.2rem;
      line-height: 1.5;
      margin: 0;
    }

    .link-button {
      padding: 15px !important;
    }
  }

  .container {
    height: 100%;
  }

  .row {
    height: 100%;
  }

  .col {
    height: 100%;
    display: flex;
  }

  .feature-banner-content-inner-wrapper {
    width: 100%;
    display: flex;
    text-align: center;
    &.vertical-content-middle {
      align-items: center;
    }
    &.vertical-content-top {
      align-items: top;
    }
    &.vertical-content-bottom {
      align-items: end;
    }
    &.horizontal-content-left {
      justify-content: flex-start;
    }
    &.horizontal-content-center {
      justify-content: center;
    }
    &.horizontal-content-right {
      justify-content: flex-end;
    }
    &.text-alignment-left {
      text-align: left;

      .link-button,
      .feature-subtitle {
        display: flex;
        align-self: baseline;
      }
    }
    &.text-alignment-center {
      text-align: center;
    }
    &.text-alignment-right {
      text-align: right;
      .link-button,
      .feature-subtitle {
        display: flex;
        align-self: end;
      }
    }

    .feature-banner-information-wrapper {
      color: $light-primary-textColor;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      z-index: 10;

      &.content-width-small {
        width: 50%;
      }
      &.content-width-medium {
        width: 80%;
      }
      &.content-width-large {
        width: 100%;
      }
      .feature-banner-title {
        font-size: 46px;
        font-weight: 600;
        line-height: 62px;
        margin: 0;

        @media (max-width: 980px) {
          font-size: 36px;
          line-height: 50px;
        }
      }

      .feature-subtitle {
        font-size: 18px;
        line-height: 1.5;
        margin: 0;
      }

      .outline-btn {
        border-color: $white-color !important;
        color: $light-primary-textColor !important;
        padding: 15px 30px;

        &:hover {
          border-color: $dark-color !important;
        }
      }
    }
  }
}
