@use "../abstracts/breakpoints" as *;
@use "../abstracts/variables" as *;

.banner-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  &.banner-large {
    height: 780px;
    padding: 80px 0;
  }

  &.banner-medium {
    height: 50vh;
    padding: 60px 0;
  }

  &.banner-small {
    height: 30vh;
    padding: 40px 0;

    .banner-title {
      font-size: 2rem !important;
      font-weight: 600;
      color: $dark-primary-textColor;
      line-height: 1.2;
      margin: 0;
    }

    .banner-subtitle {
      font-size: 1.2rem;
      line-height: 1.5;
      margin: 0;
    }

    .link-button {
      padding: 15px !important;
    }
  }

  .container {
    height: 100%;
  }

  .row {
    height: 100%;
  }

  .col {
    height: 100%;
    display: flex;
  }

  .banner-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .banner-image {
      width: 100%;
      height: 100%;
      z-index: -1;
      object-fit: cover;
    }

    .feature-banner-information-wrapper {
      color: $light-primary-textColor;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      z-index: 10;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;

      .banner-title {
        font-size: 46px;
        font-weight: 600;
        line-height: 62px;
        margin: 0;
        color: $light-primary-textColor;

        @include responsive(tablet) {
          font-size: 36px;
          line-height: 42px;
        }
      }

      .banner-subtitle {
        font-size: 18px;
        line-height: 28px;
        margin: 0;
      }
    }
  }
}
