@use "abstracts/_breakpoints" as *;
@use "abstracts/_variables" as *;

.faq-section {
  .faq-wrapper {
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;

    .faq-list-wrapper {
      border-bottom: 1px solid $dark-color;
      padding-top: 10px;
      transition: all 0.4s ease-in;

      &.active {
        .faq-icon {
          transform: rotate(180deg);
        }

        .faq-title-description {
          height: 30px;
          opacity: 1;
          visibility: visible;

          @include responsive(tablet) {
            height: 120px;
          }
        }
      }

      .faq-list-title {
        font-size: 18px;
        line-height: 24px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        font-family: $font-family-brandon;

        .faq-icon {
          cursor: pointer;
          transition: transform 0.2s ease-in;
        }
      }

      .faq-title-description {
        font-size: 16px;
        line-height: 28px;
        margin-top: 10px;
        opacity: 0;
        visibility: hidden;
        height: 0;
        overflow: hidden;
        transition:
          height 0.2s linear,
          visibility 0.2s linear,
          opacity 0.2s linear;
      }
    }
  }
}
