@use "../abstracts/breakpoints" as *;
@use "../abstracts/variables" as *;

.promotional-banner-wrapper {
  padding: 15px !important;
  display: flex !important;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
  gap: 10px;
  box-sizing: border-box;
  font-size: 0.9rem;
  font-weight: 400;
  background-color: $dark-bgColor;
  color: $light-secondary-textColor;
  justify-content: center;
  align-items: center;
  text-align: center;

  .col {
    width: 100%;
    position: relative;
  }

  &:hover {
    .swiper-button-next,
    .swiper-button-prev {
      display: flex;
    }
  }

  .promotional-primary-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $light-primary-textColor;
    font-family: $font-family-brandon;
  }

  .swiper-button-next,
  .swiper-button-prev {
    margin-top: 0 !important;
    transform: translateY(-50%) !important;
    background: none;
    color: $light-grey !important;
    opacity: 0.5;

    &:hover {
      background-color: transparent !important;
      opacity: 1;
    }

    &::after {
      font-size: 0.9rem;
    }
  }
  .swiper-button-next {
    @include responsive(tablet) {
      right: -10px;
    }
  }
  .swiper-button-prev {
    @include responsive(tablet) {
      left: -10px;
    }
  }
}
