@use "../abstracts/breakpoints" as *;
@use "../abstracts/variables" as *;

.product-list-section {
  overflow: hidden;
  .row {
    position: relative;
    .swiper-button-next,
    .swiper-button-prev {
      width: 40px;
      height: 40px;
      transition: all 0.3s ease;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      background-color: transparent;
      &::after {
        font-size: 21px;
      }

      &:hover {
        transform: translateY(-50%) scale(1.1);
      }
    }

    .swiper-button-prev {
      left: -20px;

      @include responsive(tablet) {
        left: -10px;
      }
    }
    .swiper-button-next {
      right: -20px;
      @include responsive(tablet) {
        right: -10px;
      }
    }
    .col {
      width: 100%;
    }
  }

  .section-title-wrapper {
    display: flex;
    justify-content: center;
  }

  .product-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 20px;
    justify-content: center;
    height: auto;

    .featured-product-inner-wrapper {
      box-sizing: border-box;
      flex: 1 1 20%;
      max-width: 439px;

      @include responsive(tablet) {
        flex: 0 1 100%;
      }
    }
  }

  .swiper {
    width: 100%;

    .swiper-wrapper {
      @include responsive(tablet) {
        box-sizing: border-box !important;
      }
    }

    .featured-product-inner-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;

      .featured-product-information {
        font-family: $font-family-brandon;
        width: 100%;
        justify-content: center;
        text-align: center;
      }
    }
  }

  .not-product-found-text {
    text-align: center;
  }

  &.bg-section-dark {
    background-color: $dark-bgColor;

    .swiper-button-next,
    .swiper-button-prev {
      color: $light-primary-textColor !important;
    }

    &.section-divider {
      padding: 180px 0;
      position: relative;

      @include responsive(tablet) {
        padding: 80px 0;
      }

      &::after,
      &::before {
        width: 90%;
        position: absolute;
        height: 1px;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(242, 242, 242, 0.6);
      }

      &::after {
        top: 100px;

        @include responsive(tablet) {
          top: 50px;
        }
      }

      &::before {
        bottom: 100px;
        @include responsive(tablet) {
          bottom: 50px;
        }
      }
    }

    .section-title-wrapper {
      .section-title {
        color: $light-primary-textColor !important;
        margin-bottom: 120px;
        text-align: center;
        &::after {
          background-color: none;
        }

        @include responsive(tablet) {
          margin-bottom: 60px;
        }
      }
    }

    .featured-product-information {
      color: $light-primary-textColor !important;
      .product-type {
        color: $light-secondary-textColor !important;
      }
    }
  }
}
