@use "../abstracts/breakpoints" as *;
@use "../abstracts/variables" as *;

.product-list-section {
  .row {
    position: relative;
    .swiper-button-next,
    .swiper-button-prev {
      width: 40px;
      height: 40px;
      transition: all 0.3s ease;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      background-color: transparent;
      &::after {
        font-size: 21px;
      }

      &:hover {
        transform: translateY(-50%) scale(1.1);
      }
    }

    .swiper-button-prev {
      left: -20px;
    }
    .swiper-button-next {
      right: -20px;
    }
    .col {
      width: 100%;
    }
  }

  .section-title-wrapper {
    display: flex;
    justify-content: center;
  }

  .product-list-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    gap: 20px 10px;
    justify-content: center;
    align-items: center;

    @include responsive(tablet) {
      grid-template-columns: repeat(1, 1fr);
    }

    .featured-product-inner-wrapper {
      box-sizing: border-box;
    }
  }

  .swiper {
    width: 100%;

    .swiper-wrapper {
      @include responsive(tablet) {
        box-sizing: border-box !important;
      }
    }

    .featured-product-inner-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;

      .featured-product-information {
        font-family: $font-family-brandon;
        width: 100%;
        justify-content: center;
        text-align: center;
      }
    }
  }

  .not-product-found-text {
    text-align: center;
  }

  &.bg-section-dark {
    background-color: $dark-bgColor;

    .swiper-button-next,
    .swiper-button-prev {
      color: $light-primary-textColor !important;
    }

    &.section-divider {
      padding: 180px 0;
      position: relative;

      &::after,
      &::before {
        width: 90%;
        position: absolute;
        height: 1px;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(242, 242, 242, 0.6);
      }

      &::after {
        top: 100px;
      }

      &::before {
        bottom: 100px;
      }
    }

    .section-title-wrapper {
      .section-title {
        color: $light-primary-textColor !important;
        margin-bottom: 50px;
        &::after {
          background-color: none;
        }
      }
    }

    .featured-product-information {
      font-family: $font-family-brandon;
      color: $light-primary-textColor !important;
      justify-content: center;
      text-align: center;
      .product-type {
        color: $light-secondary-textColor !important;
      }

      .product-title {
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 500;
      }
    }
  }
}
