@use "../abstracts/breakpoints" as *;
@use "../abstracts/variables" as *;

.two-column-image-section {
  .two-column-image-wrapper {
    display: flex;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    width: 100%;

    &.gap {
      gap: 20px;
      justify-content: space-between;

      .image-wrapper {
        flex: 0 1 calc(50% - 20px);
      }
    }

    @include responsive(tablet) {
      // gap: 30px;
    }

    .image-wrapper {
      flex: 0 1 50%;
      width: 100%;
      position: relative;
      height: 700px;

      &:hover {
        .two-column-image {
          transform: scale(1.5);
        }
      }

      @include responsive(tablet) {
        flex: 0 1 100% !important;
        height: 600px;
      }

      .overlay {
        background-color: rgba(0, 0, 0, 0.4);
      }

      .two-column-image {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        overflow: hidden;
      }

      .text-content-wrapper {
        position: absolute;
        top: 45%;
        left: 50%;
        color: #fff;
        font-size: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        gap: 10px;

        &.content-position-middle {
          transform: translate(-50%, 0);
          @include responsive(tablet) {
            opacity: 1 !important;
            transform: translate(-50%, -50%) !important;
          }
        }

        &.content-position-left {
          left: 0;
          transform: translate(0, 0);
          padding: 0px 3.25rem;
          align-items: flex-start;

          .btn {
            align-self: flex-start;
          }

          @include responsive(tablet) {
            transform: translate(-50%, 0);
            padding: 0px 1rem;
            left: 50%;
            width: 100%;
            align-items: center;

            .btn {
              align-self: center;
            }
          }
        }

        .content-title {
          font-size: 12px;
          font-family: $font-family-brandon;
          text-align: center;
          letter-spacing: 2px;
          margin-bottom: 5px;
        }

        .content-helper-text {
          font-size: 40px;
          font-family: $font-family-scotch;
          text-align: center;

          @include responsive(tablet) {
            line-height: 46px;
            font-size: 32px;
          }
        }

        .btn {
          margin-top: 15px;
        }
      }
    }
  }
}
