<div class="about-us-section">
  <div class="container">
    <div class="about-us-row">
      <!-- Image Left -->
      <div class="about-us-image-block">
        <img src="{{ 'sf.jpg' | asset_url }}" alt="Sherpa Foods Logo" height="200%" width="200%">
      </div>
      <!-- Text Right -->
      <div class="about-us-content-block">
        <div>
          <h2 class="about-us-title">Our Story</h2>
          <div class="about-us-text">
            Sherpa Foods is a family-owned food supply business based in Vermont, specializing in authentic, traditional
            Nepalese foods. Since our founding in 2015 by Nurbu Sherpa and family, we’ve been dedicated to bringing the
            rich flavors of Nepal to co-ops, health food stores, and supermarkets. Our mission is to offer our customers
            high-quality, locally made products crafted with the freshest, all-natural ingredients.<br>
            <br>
            We’re thrilled to share our family’s recipes with you and appreciate you choosing our products. We hope you
            enjoy them as much as we’ve enjoyed creating them. Stay connected with us on Facebook and Instagram
            @SherpaFoods, and feel free to reach out to us at sherpafoodsusa@gmail.com with any feedback or comments.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "About Us",
  "settings": [],
  "presets": [{ "name": "About Us" }]
}
{% endschema %}
