<div class="bundles-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="bread-crumb-wrapper">
          {% render 'bread-crumbs', title: 'Bundles' %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Bundle Main",
  "tag": "section",
  "presets": [
    {
      "name": "Bundles Main"
    }
  ]
}
{% endschema %}
