<div class="customer-testimonials-wrapper section-wrapper">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-title-wrapper">
          <h5 class="section-title">Customer Testimonials</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="customer-details">
          <p>
            The prepared meals are delicious and such a timesaver for those with a lot on their plate, but still looking
            to eat well.
          </p>
          <strong> - customer </strong>
        </div>
      </div>
      <div class="col-4">
        <div class="customer-details">
          <p>
            The prepared meals are delicious and such a timesaver for those with a lot on their plate, but still looking
            to eat well.
          </p>
          <strong> - customer </strong>
        </div>
      </div>
      <div class="col-4">
        <div class="customer-details">
          <p>
            The prepared meals are delicious and such a timesaver for those with a lot on their plate, but still looking
            to eat well.
          </p>
          <strong> - customer </strong>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "presets": [
    {
      "name": "Customer Testimonials"
    }
  ]
}
{% endschema %}
