{% for block in section.blocks %}
  <section class="product-list-wrapper">
    <div class="container">
      <div class="row">
        {% assign products = block.settings.products %}
        {% if products.size > 0 %}
          {% for product in products %}
            <div class="col-3">
              <img
                src="{{ product.featured_image | asset_url }}"
                width="280"
                height="280"
                alt="{{ product.title }}"
              >

              <div class="product-list-details">
                <p class="product-title">{{ product.title }}</p>
                <p class="product-price">{{ product.price | money }}</p>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p>No Product found</p>
        {% endif %}
        {% comment %}
          <div class="col-3">
            <img src="https://placehold.co/280x280" width="280" alt="product">

            <div class="product-list-details">
              <p class="product-title">Product Name</p>
              <p class="product-price">$100.00</p>
            </div>
          </div>
          <div class="col-3">
            <img src="https://placehold.co/280x280" width="280" alt="product">

            <div class="product-list-details">
              <p class="product-title">Product Name</p>
              <p class="product-price">$100.00</p>
            </div>
          </div>
          <div class="col-3">
            <img src="https://placehold.co/280x280" width="280" alt="product">

            <div class="product-list-details">
              <p class="product-title">Product Name</p>
              <p class="product-price">$100.00</p>
            </div>
          </div>
        {% endcomment %}
      </div>
    </div>
  </section>
{% endfor %}

{% comment %} <p>No product found</p> {% endcomment %}

{% schema %}
{
  "name": "Featured Products",
  "settings": [],
  "blocks": [
    {
      "type": "product_list",
      "name": "Product List",
      "settings": [
        {
          "type": "product_list",
          "id": "products",
          "label": "Select Products"
        }
      ]
    }
  ],
  "max_blocks": 4,
  "presets": [
    {
      "name": "Featured products"
    }
  ]
}
{% endschema %}
