<section class="featured-product-wrapper">
  <div class="container">
    <div
      class="row product-slider-wrapper"
      data-product-slider="{{ section.settings["product_slider"] }}"
      id="product-slider-wrapper"
    >
      {% if section.settings.collection and section.settings.collection.products.size > 0 %}
        {% for product in section.settings.collection.products %}
          <div class="col-3 product-slide">
            {% render 'product-card', product: product %}
          </div>
        {% endfor %}
      {% else %}
        <p class="no-product-found-text">No Product found</p>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select a collection"
    },
    {
      "type": "checkbox",
      "id": "product_slider",
      "label": "Enable slider",
      "info": "Please add more than 4 products if you enable slider",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Featured products"
    }
  ]
}
{% endschema %}
