{% assign bg_image = section.settings['banner-image'] | image_url: width: 1600 %}

{% if section.settings['banner-image'] == '' %}
  {% assign bg_image = 'https://parallax-theme-vienna.myshopify.com/cdn/shop/files/unpacked-fixed_93c58e23-d9dc-4042-9eee-867730320532_2048x.jpg?v=1614934586' %}
{% endif %}

<section class="feature-banner-wrapper">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="feature-banner-information-wrapper">
          {% if section.settings['feature-banner-title'] != '' %}
            <h1 class="feature-banner-title">
              {{ section.settings['feature-banner-title'] }}
            </h1>
          {% endif %}

          {% if section.settings['feature-banner-subtitle'] != '' %}
            <p class="feature-subtitle">{{ section.settings['feature-banner-subtitle'] }}</p>
          {% endif %}

          <a href="#" class="link-button">Show Now </a>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .feature-banner-wrapper {
    {% comment %} background-image: url({{ bg_image }});
      {% endcomment %}

      {% comment %} background-image: url('https://parallax-theme-vienna.myshopify.com/cdn/shop/files/unpacked-fixed_93c58e23-d9dc-4042-9eee-867730320532_2048x.jpg?v=1614934586');
        {% endcomment %}


        background-image: url('https://placehold.co/1920x735')
  }
</style>

{% schema %}
{
  "name": "Feature Banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner-image",
      "label": "Banner Image"
    },
    {
      "type": "textarea",
      "id": "feature-banner-title",
      "label": "Feature banner Title",
      "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
    },
    {
      "type": "textarea",
      "id": "feature-banner-subtitle",
      "label": "Feature banner Subtitle",
      "default": "It is a long established fact that a reader will be distracted by the readable content"
    }
  ]
}
{% endschema %}
