<section class="featured-product-wrapper">
  <div class="container">
    <div class="row">
      {% if section.settings.collection and section.settings.collection.products.size > 0 %}
        {% for product in section.settings.collection.products limit: section.settings.limit %}
          <div class="col-3">
            {% render 'product-card', product: product %}
          </div>
        {% endfor %}
      {% else %}
        <p>No Product found</p>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Select a collection"
    },
    {
      "type": "range",
      "id": "limit",
      "label": "Number of products to show",
      "min": 1,
      "max": 8,
      "step": 1,
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "Featured products"
    }
  ]
}
{% endschema %}
