<div class="gift-card-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="bread-crumb-wrapper">
          {% render 'bread-crumbs', title: 'Gift Card' %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="gift-card-wrapper">
          {% assign gift_cards = collections['gift-cards'].products %}
          {% if gift_cards.size > 0 %}
            <div class="gift-card-list">
              {% for product in gift_cards %}
                {% render 'product-card', product: product %}
              {% endfor %}
            </div>

          {% else %}
            <div class="no-gift-card-wrapper">
              <p>No gift card at the moment please visit later! <a href="{{ routes.root_url }}">Back to home</a></p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Gift Card",
  "settings": [],
  "presets": [
    {
      "name": "Gift Card"
    }
  ]
}
{% endschema %}
