<section class="header-wrapper">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="menu-wrapper">
          <div class="menu-left-wrapper">logo</div>
          <div class="menu-right-wrapper">
            <ul class="navigation-wrappper">
              <li>
                SHOP
                <i class="fa-solid fa-angle-down"></i>

                <ul>
                  <li>Menu 1</li>
                  <li>Menu 1</li>
                  <li>Menu 1</li>
                </ul>
              </li>
              <li>OUR STORY</li>
              <li>CONTACT US</li>
            </ul>
            <div class="menu-icon-wrapper">
              <!-- Account -->
              <i class="fa-solid fa-user"></i>
              <!-- Search -->
              <i class="fa-solid fa-search"></i>
              <!-- wishlist -->
              <i class="fa-solid fa-heart"></i>
              <!-- Cart -->
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
