<section class="header-wrapper">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="menu-wrapper">
          <div class="menu-left-wrapper">
            {% if section.settings.logo == '' %}
              <img
                src="{{ section.settings.logo | image_url: width: 180 }}"
                alt="Logo"
                loading="lazy"
              >
            {% else %}
              <img
                src="{{ 'fallback-logo.png' | asset_url }}"
                alt="Logo"
                loading="lazy"
                width="180"
              >
            {% endif %}
          </div>
          <div class="menu-right-wrapper">
            <ul class="navigation-wrappper">
              <li class="navigation-list sub-navigation-wrapper">
                <a href="#">SHOP</a>
                <i class="fa-solid fa-angle-down down-icon"></i>

                <ul class="sub-menu-wrapper">
                  <li class="sub-menu-list">
                    <a href="#"> Momo Sauce</a>
                  </li>
                  <li class="sub-menu-list"><a href="#"> Frozen Food</a></li>
                  <li class="sub-menu-list"><a href="#"> Bundles</a></li>
                  <li class="sub-menu-list"><a href="#"> Gift Cards</a></li>
                </ul>
              </li>
              <li class="navigation-list"><a href="#"> OUR STORY</a></li>
              <li class="navigation-list"><a href="#"> CONTACT US</a></li>
            </ul>
            <div class="menu-icon-wrapper">
              <!-- Account -->
              <a href="/account/login">
                <i class="fa-solid fa-user"></i>
              </a>
              <!-- Search -->
              <i class="fa-solid fa-search"></i>
              <!-- wishlist -->
              <i class="fa-solid fa-heart"></i>
              <!-- Cart -->
              <i class="fa-solid fa-cart-shopping" id="cart-icon" aria-label="Open Cart"></i>
              {% render 'cart-drawer' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "main_menu",
      "label": "Main Navigation"
    },
    {
      "type": "link_list",
      "id": "sub_menu",
      "label": "Sub Navigation"
    }
  ]
}
{% endschema %}
