{% capture status %}
  {% if section.settings.dark_mode %}bg-section-dark{% else %}''{% endif %}
{% endcapture %}

<section
  class="product-list-section section-wrapper {{ status }} section-divider"
  id="product-list-{{ section.id }}"
>
  <div class="container">
    {% if section.settings['section-title'] != '' %}
      <div class="row">
        <div class="col">
          <div class="section-title-wrapper">
            <div class="section-title">{{ section.settings['section-title'] }}</div>
          </div>
        </div>
      </div>
    {% endif %}
    <div
      class="row"
      data-product-slider="{{ section.settings["product_slider"] }}"
      id="product-slider-wrapper"
    >
      <div class="col">
        {% if section.settings.collection and section.settings.collection.products.size > 0 %}
          <div class="swiper">
            <div class="swiper-wrapper">
              {% for product in section.settings.collection.products %}
                {% render 'product-card', product: product %}
              {% endfor %}
            </div>
          </div>
        {% else %}
          <p class="no-product-found-text">No Product found</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Featured Products",
  "settings": [
    {
      "type": "header",
      "content": "Background Color"
    },
    {
      "type": "checkbox",
      "id": "dark_mode",
      "label": "Dark Mode",
      "default": false
    },
    {
      "type": "header",
      "content": "Product List Details"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Select a collection"
    },
    {
      "type": "text",
      "id": "section-title",
      "label": "Section Title"
    },
    {
      "type": "checkbox",
      "id": "product_slider",
      "label": "Enable slider",
      "info": "Please add more than 4 products if you enable slider",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Product List"
    }
  ]
}
{% endschema %}
