<div class="search-drawer-wrapper hidden" id="search-drawer">
  <button id="close-search-drawer" aria-label="Close search drawer" class="search-drawer-close-icon">
    <i class="fa-solid fa-xmark"></i>
  </button>

  <div class="search-drawer-content">
    <div class="search-drawer-input-field">
      <i class="fa-solid fa-xmark"></i>
      <input type="text">
    </div>
  </div>
</div>
