@use "../abstracts/breakpoints" as *;
@use "../abstracts/variables" as *;

.add-to-cart-modal-wrapper {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  .modal-content {
    background: $white-color;
    width: 1024px;
    height: 580px;
    position: relative;
    padding: 40px;

    @include responsive(tablet) {
      padding: 20px 15px;
      width: 90%;
      overflow: scroll;
    }

    .close-modal-btn {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: $icon-size;
      background: none;
      border: none;
      cursor: pointer;
      @include responsive(tablet) {
        right: 2px;
        top: 2px;
      }
    }

    .add-to-cart-product-wrapper {
      display: flex;
      gap: 20px;
      width: 100%;
      height: 100%;
      box-sizing: border-box;

      @include responsive(tablet) {
        flex-direction: column;
        height: unset;

        .add-to-cart-product-image {
          width: 100%;
          height: 350px;
        }
      }

      .add-to-cart-image-wrapper {
        flex: 0 1 50%;
        min-width: 0;

        .swiper-slide {
          // width: fit-content !important;
        }
      }

      .add-to-cart-product-information {
        flex: 0 1 50%;
        padding: 0 10px;

        .add-to-cart-product-title {
          font-size: 1.25rem;
          font-weight: 600;
          margin-bottom: 25px;
          @include responsive(tablet) {
            margin-bottom: 10px;
          }
        }

        .add-to-cart-product-price {
          font-size: 1.25;
          color: $dark-primary-textColor;
          font-weight: 600;
          margin-bottom: 25px;
          @include responsive(tablet) {
            margin-bottom: 10px;
          }
        }

        .add-to-cart-product-description {
          font-size: 1rem;
          color: $dark-primary-textColor;
          font-weight: 400;
          line-height: 28px;
          margin-bottom: 25px;
          @include responsive(tablet) {
            margin-bottom: 10px;
          }
        }

        .add-to-cart-product-link {
          color: #7a9ea1;
          font-size: 1rem;
          font-weight: 400;
          line-height: 28px;
          transition: all 0.2s ease-in-out;
          margin-bottom: 20px;
          @include responsive(tablet) {
            margin-bottom: 10px;
          }

          &:hover {
            opacity: 0.8;
          }
        }

        .add-to-cart-cta-wrapper {
          display: flex;
          gap: 10px;
          margin-top: 25px;
          align-items: center;

          > .add-to-cart-qty-wrapper {
            gap: 10px;
            bottom {
              padding: 0;
            }

            .quantity-input {
              width: 16px;
            }
          }

          .add-to-cart-btn-group {
            display: flex;
            gap: 10px;
            width: 100%;
            .add-to-cart-btn,
            .buy-now-btn {
              flex-grow: 1;
              padding: 14px;
            }

            @include responsive(tablet) {
              .buy-now-btn {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
