@use "../abstracts/breakpoints" as *;
@use "../abstracts/variables" as *;

.btn {
  border: 1px solid $light-white-color;
  color: $dark-primary-textColor;
  font-size: 14px;
  padding: 5px 25px;
  transition: all 0.2s ease-in;
  border-radius: 6px;
  letter-spacing: 1px;
  text-decoration: none;
  font-family: $font-family-brandon;
  cursor: pointer;
  display: flex;
  align-self: center;
  justify-content: center;
  font-weight: 500;
  background-color: transparent;
  outline: none;
  gap: 10px;

  &.disabled {
    cursor: not-allowed;
    background-color: gray !important;
    color: $light-primary-textColor !important;
    border-color: gray !important;
    span {
      pointer-events: none;
    }
  }

  span {
    height: 100%;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
  }
}

.btn-contained {
  background-color: $white-color;
  color: $dark-primary-textColor;

  &.btn-red {
    background-color: $red-color;
    border-color: $red-color;
    color: $light-primary-textColor;

    &:hover {
      background-color: $dark-red-color;
      border-color: $dark-red-color;
    }
  }

  &.btn-green {
    background-color: $green-color;
    border-color: $green-color;
    color: $light-primary-textColor;

    &:hover {
      border-color: $dark-green-color;
      background-color: $dark-green-color;
    }
  }
}

.btn-outline {
  color: $light-primary-textColor;
  &:hover {
    background-color: $light-white-color;
    border-color: $light-white-color;
    color: $dark-primary-textColor;
  }

  &.btn-red {
    color: $red-color;
    border-color: $red-color;
    &:hover {
      background-color: $red-color;
      border-color: $red-color;
      color: $light-primary-textColor;
    }
  }
}

.btn-sm {
  padding: 8px 20px;
}

.btn-md {
  min-width: 150px;
}
