@use "../abstracts/breakpoints" as *;
@use "../abstracts/variables" as *;

.featured-product-image-wrapper {
  position: relative;
  cursor: pointer;
  z-index: 1;

  .open-modal-btn {
    position: absolute;
    bottom: 15px;
    right: 0px;
    cursor: pointer;
    display: none;
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }

  &:hover {
    .open-modal-btn {
      display: block;
    }
  }

  &:hover + .open-modal-btn {
    .product-title {
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
.featured-product-information {
  text-align: center;
  a {
    color: unset;
    text-decoration: none;
    .product-title {
      font-weight: 400;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  .product-price {
    font-weight: 600;
  }
}
