@use "abstracts/_breakpoints" as *;
@use "abstracts/_variables" as *;

.divier {
  width: 100%;
  height: 1.5px;
  background-color: $light-divider-color;
}

.product-variation-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .product-variation-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .variation-title {
      font-size: 1rem;
      font-weight: 500;
    }

    .variations-list-wrapper {
      display: flex;
      gap: 10px;
      .variations-list {
        box-sizing: border-box;
        border: 1px solid $dark-bgColor;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        display: flex;
        flex-direction: column;

        &:hover {
          background-color: $dark-bgColor;
          color: $light-primary-textColor;

          .variation-price {
            border-top: 1px solid $light-secondary-textColor;
          }
        }

        &.active {
          background-color: $dark-bgColor;
          color: $light-primary-textColor;
        }

        &.disabled {
          pointer-events: none;
          opacity: 0.4;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px; /* thickness */
            background-color: #303336;
            transform: rotate(-21deg); /* slight angle, adjust as needed */
            transform-origin: center;
            pointer-events: none;
          }
        }

        .variation-price {
          border-top: 1px solid $dark-bgColor;
          padding-top: 10px;
          margin-top: 10px;
        }
      }
    }
  }
}
