@use "../abstracts/breakpoints" as *;
@use "../abstracts/variables" as *;

.featured-product-inner-wrapper {
  &:hover {
    .product-price-wrapper {
      transform: translateY(-100%);
      opacity: 0 !important;
    }

    .quick-view-wrapper {
      transform: translate(-50%, -50%) !important;
      opacity: 1 !important;
    }
  }
  .featured-product-image-wrapper {
    position: relative;
    cursor: pointer;
    z-index: 1;
    width: 100%;
    height: 350px;

    .product-image {
      width: 100%;
      object-fit: cover;
      height: 100%;
      transition: opacity 0.3s ease-in-out;
      border-radius: 10px;
    }

    .hover-image {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      height: 100%;
      width: 100%;
      transition: opacity 0.3s ease-in-out;
      border-radius: 10px;
    }

    .product-tag-wrapper {
      position: absolute;
      top: 10px;
      left: 10px;
      display: flex;
      gap: 5px;

      .tag-name {
        background-color: $red-color;
        padding: 6px 8px;
        color: $light-primary-textColor;
        font-size: 0.875rem;
        border-radius: 5px;
      }
    }

    &:hover {
      &.has-hover {
        .product-image {
          opacity: 0;
        }
        .hover-image {
          opacity: 1;
        }
      }
    }
  }
  .featured-product-information {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;

    .product-type {
      font-size: 0.8rem;
      font-weight: 400;
      color: $dark-red-color;
    }

    a {
      color: unset;
      text-decoration: none;
      .product-title {
        font-size: 20px;
        letter-spacing: 1px;
        font-family: $font-family-brandon-med;
        text-transform: uppercase;
      }
      &:hover {
        text-decoration: underline;
      }
    }

    .card-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      position: relative;

      .product-price-wrapper {
        display: flex;
        gap: 10px;
        transition:
          transform 0.4s ease,
          opacity 0.4s ease;
        opacity: 1;
        .original-price {
          display: flex;
          align-self: flex-end;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 1px;
        }
        .product-price {
          font-family: $font-family-brandon;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 1px;
        }

        .original-price + .discounted-price {
          color: $red-color;
          font-size: 18px;
          font-weight: 500;
          font-family: $font-family-brandon-med;
          letter-spacing: 1px;
        }
      }

      .quick-view-wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        cursor: pointer;
        transform: translate(-50%, 100%);
        transition:
          transform 0.4s ease,
          opacity 0.4s ease;
        opacity: 0;
        text-decoration: underline;
      }
    }
  }
}
