.add-to-cart-modal-wrapper {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
}
.add-to-cart-modal-wrapper .modal-content {
  background: white;
  width: 1024px;
  height: 480px;
  position: relative;
  padding: 40px;
}
@media (max-width: 980px) {
  .add-to-cart-modal-wrapper .modal-content {
    width: 680px;
  }
}
.add-to-cart-modal-wrapper .modal-content .close-modal-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper {
  display: flex;
  gap: 20px;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information {
  flex-grow: 1;
  padding: 0 10px;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-product-title {
  font-size: 20px;
  font-weight: 600;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-bottom: 25px;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-product-price {
  font-size: 22px;
  color: #363636;
  font-weight: 400;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-bottom: 25px;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-product-description {
  font-size: 16px;
  color: #363636;
  font-weight: 400;
  line-height: 28px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 25px;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-product-link {
  color: #7a9ea1;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-product-link:hover {
  opacity: 0.8;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-cta-wrapper {
  display: flex;
  gap: 10px;
  margin-top: 25px;
  align-items: center;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-cta-wrapper > .add-to-cart-qty-wrapper {
  gap: 10px;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-cta-wrapper > .add-to-cart-qty-wrapper bottom {
  padding: 0;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-cta-wrapper > .add-to-cart-qty-wrapper .quantity-input {
  width: 16px;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-cta-wrapper .add-to-cart-btn-group {
  display: flex;
  gap: 10px;
  width: 100%;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-cta-wrapper .add-to-cart-btn-group .add-to-cart-btn,
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-cta-wrapper .add-to-cart-btn-group .buy-now-btn {
  flex-grow: 1;
  padding: 14px;
}