.cart-drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 450px;
  height: 100vh;
  background: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 999;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media (max-width: 980px) {
  .cart-drawer {
    width: 100%;
  }
}
.cart-drawer.active {
  display: flex;
  right: 0;
}
.cart-drawer .cart-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #818181;
  padding: 15px;
}
.cart-drawer .cart-header .cart-close {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.cart-drawer .cart-content-wrapper {
  overflow-y: auto;
  flex-grow: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.cart-drawer .cart-content-wrapper .cart-items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  overflow: scroll;
}
.cart-drawer .cart-content-wrapper .cart-items-wrapper .cart-item-details {
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
  padding: 20px 15px;
}
.cart-drawer .cart-content-wrapper .cart-items-wrapper .cart-item-details .item-loader {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.05);
}
.cart-drawer .cart-content-wrapper .cart-items-wrapper .cart-item-details .cart-product-information {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}
.cart-drawer .cart-content-wrapper .cart-items-wrapper .cart-item-details .cart-product-information .cart-item-price {
  font-weight: 500;
}
.cart-drawer .cart-content-wrapper .cart-items-wrapper .cart-item-details .cart-product-information .add-to-cart-qty-wrapper {
  gap: 5px;
  width: 110px;
}
.cart-drawer .cart-content-wrapper .cart-items-wrapper .cart-item-details .cart-product-information .add-to-cart-qty-wrapper .quantity-input {
  width: 15px;
}
.cart-drawer .cart-content-wrapper .cart-items-wrapper .cart-item-details .remove-cart-item {
  position: absolute;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  top: 10px;
  right: 15px;
}
.cart-drawer .cart-content-wrapper .cart-items-wrapper .cart-item-details .remove-cart-item.disabled {
  cursor: not-allowed;
}
.cart-drawer .cart-content-wrapper .cart-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-top: 1px solid #818181;
  padding: 15px;
}
.cart-drawer .cart-content-wrapper .cart-footer .cart-total-price {
  display: flex;
  justify-content: space-between;
}
.cart-drawer .cart-content-wrapper .cart-footer .cart-total-price .cart-total-text {
  font-size: 16px;
  font-weight: 500;
}
.cart-drawer .cart-content-wrapper .cart-footer .cart-total-price .cart-total-amount {
  font-size: 16px;
  font-weight: 500;
}
.cart-drawer .cart-content-wrapper .cart-footer .terms-condition-wrapper {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cart-drawer .cart-content-wrapper .cart-footer .terms-condition-wrapper .checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
.cart-drawer .cart-content-wrapper .cart-footer .link-button {
  width: 100%;
  color: #fff !important;
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 10px;
}
.cart-drawer .cart-content-wrapper .cart-footer .link-button.disable {
  opacity: 0.5;
  cursor: not-allowed;
}
.cart-drawer .cart-content-wrapper .cart-empty-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}