.cart-drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 350px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  overflow-y: auto;
  padding: 20px 15px;
  z-index: 999;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.cart-drawer.active {
  right: 0;
}
.cart-drawer .cart-header {
  display: flex;
  justify-content: space-between;
}
.cart-drawer .cart-header .cart-close {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}
.cart-drawer .cart-content {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.cart-drawer .cart-content .cart-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  overflow: scroll;
}
.cart-drawer .cart-content .cart-content-wrapper .cart-items-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
.cart-drawer .cart-content .cart-content-wrapper .cart-items-wrapper .cart-product-information {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-drawer .cart-content .cart-content-wrapper .cart-items-wrapper .cart-product-information .add-to-cart-qty-wrapper {
  height: 27px;
  width: 77px;
}
.cart-drawer .cart-content .cart-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-top: 2px solid #f2f2f2;
  padding-top: 20px;
}
.cart-drawer .cart-content .cart-footer .cart-total-price {
  display: flex;
  justify-content: space-between;
}
.cart-drawer .cart-content .cart-footer .cart-total-price .cart-total-text {
  font-size: 16px;
  font-weight: 500;
}
.cart-drawer .cart-content .cart-footer .cart-total-price .cart-total-amount {
  font-size: 16px;
  font-weight: 500;
}
.cart-drawer .cart-content .cart-footer .link-button {
  width: 100%;
  color: #fff !important;
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 10px;
}