.featured-product-wrapper .row {
  position: relative;
}
.featured-product-wrapper .row .swiper-button-next,
.featured-product-wrapper .row .swiper-button-prev {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.featured-product-wrapper .row .swiper-button-next::after,
.featured-product-wrapper .row .swiper-button-prev::after {
  font-size: 16px;
}
.featured-product-wrapper .row .swiper-button-next:hover,
.featured-product-wrapper .row .swiper-button-prev:hover {
  background: rgb(255, 255, 255);
  transform: translateY(-50%) scale(1.1);
}
.featured-product-wrapper .row .swiper-button-prev {
  left: -5px;
}
.featured-product-wrapper .row .swiper-button-next {
  right: 5px;
}
.featured-product-wrapper .row .col {
  width: 100%;
}
.featured-product-wrapper .section-title-wrapper {
  display: flex;
  justify-content: center;
}
.featured-product-wrapper .product-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  box-sizing: border-box;
}
.featured-product-wrapper .product-list-wrapper .featured-product-inner-wrapper {
  box-sizing: border-box;
}
.featured-product-wrapper .swiper {
  width: 100%;
}
.featured-product-wrapper .swiper .featured-product-inner-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.featured-product-wrapper .swiper .swiper-button-next {
  right: 3px !important;
}
.featured-product-wrapper .swiper .swiper-button-prev {
  left: 3px !important;
}
.featured-product-wrapper .not-product-found-text {
  text-align: center;
}