.header-wrapper {
  height: 55px;
  width: 100vw;
  background-color: #fff;
  transition: all 0.3s ease-in;
  z-index: 25;
  left: 0;
}
.header-wrapper.sticky {
  top: 0;
  position: fixed;
  box-shadow: rgba(48, 51, 54, 0.16) 0px 1px 3px;
}
.header-wrapper.mobile-navigation-menu {
  position: fixed;
  left: 80%;
}
.header-wrapper .menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-wrapper .menu-wrapper .mobile-menu-wrapper {
  display: none;
  width: 73px;
}
@media (max-width: 1023px) {
  .header-wrapper .menu-wrapper .mobile-menu-wrapper {
    display: unset;
  }
}
.header-wrapper .menu-wrapper .mobile-menu-wrapper .ham-burger-menu {
  width: 22px;
  height: 18px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}
.header-wrapper .menu-wrapper .mobile-menu-wrapper .ham-burger-menu span {
  height: 1px;
  background: #303336;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.header-wrapper .menu-wrapper .mobile-menu-wrapper .ham-burger-menu span:nth-child(2) {
  width: 15px;
}
.header-wrapper .menu-wrapper .mobile-menu-wrapper .ham-burger-menu.active span:nth-child(1) {
  transform: rotate(48deg) translate(7px, 6px);
}
.header-wrapper .menu-wrapper .mobile-menu-wrapper .ham-burger-menu.active span:nth-child(2) {
  opacity: 0;
}
.header-wrapper .menu-wrapper .mobile-menu-wrapper .ham-burger-menu.active span:nth-child(3) {
  transform: rotate(-48deg) translate(6px, -5px);
}
.header-wrapper .menu-wrapper .menu-left-wrapper {
  padding: 10px 0;
}
.header-wrapper .menu-wrapper .menu-right-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-wrapper .menu-wrapper .menu-right-wrapper .navigation-wrappper {
  display: flex;
  list-style: none;
  gap: 15px;
  font-weight: 400;
}
.header-wrapper .menu-wrapper .menu-right-wrapper .navigation-wrappper a {
  color: unset;
  text-decoration: none;
}
.header-wrapper .menu-wrapper .menu-right-wrapper .navigation-wrappper .navigation-list {
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.header-wrapper .menu-wrapper .menu-right-wrapper .navigation-wrappper .navigation-list:hover {
  color: rgba(242, 242, 242, 0.6);
}
.header-wrapper .menu-wrapper .menu-right-wrapper .navigation-wrappper .sub-navigation-wrapper {
  position: relative;
}
.header-wrapper .menu-wrapper .menu-right-wrapper .navigation-wrappper .sub-navigation-wrapper a {
  color: unset;
  text-decoration: none;
}
.header-wrapper .menu-wrapper .menu-right-wrapper .navigation-wrappper .sub-navigation-wrapper .sub-menu-wrapper {
  overflow: hidden;
  list-style: none;
  position: absolute;
  left: 0;
  width: 200px;
  padding-inline-start: 10px;
  flex-direction: column;
  background-color: #fff;
  color: #303336;
  display: flex;
  height: 0;
  transition: height 0.3s ease;
  visibility: hidden;
}
.header-wrapper .menu-wrapper .menu-right-wrapper .navigation-wrappper .sub-navigation-wrapper .sub-menu-wrapper .sub-menu-list {
  cursor: pointer;
  transition: all 0.2s ease-in;
  padding: 10px;
}
.header-wrapper .menu-wrapper .menu-right-wrapper .navigation-wrappper .sub-navigation-wrapper .sub-menu-wrapper .sub-menu-list:hover {
  color: rgba(242, 242, 242, 0.6);
}
.header-wrapper .menu-wrapper .menu-right-wrapper .navigation-wrappper .sub-navigation-wrapper .sub-menu-wrapper .sub-menu-list:first-child {
  padding-top: 20px;
}
.header-wrapper .menu-wrapper .menu-right-wrapper .menu-icon-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-wrapper .menu-wrapper .menu-right-wrapper .menu-icon-wrapper img {
  cursor: pointer;
}
.header-wrapper .menu-wrapper .menu-right-wrapper .menu-icon-wrapper a {
  color: unset;
  display: flex;
  align-items: center;
}
.header-wrapper .menu-wrapper .menu-right-wrapper .menu-icon-wrapper .add-to-cart-icon-group {
  display: flex;
  align-items: center;
  position: relative;
}
.header-wrapper .menu-wrapper .menu-right-wrapper .menu-icon-wrapper .add-to-cart-icon-group .cart-count-number {
  font-size: 0.6rem;
  font-weight: 500;
  position: absolute;
  top: -10px;
  right: -10px;
}

.footer-wrapper {
  padding: 100px 0;
  padding-bottom: 20px;
  background-color: #303336;
}
.footer-wrapper .footer-text-wrapper {
  border-top: 1px solid rgba(242, 242, 242, 0.6);
  border-bottom: 1px solid rgba(242, 242, 242, 0.6);
  padding: 80px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #fff;
}
.footer-wrapper .footer-text-wrapper .footer-title-text {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.footer-wrapper .footer-text-wrapper .footer-tag-line {
  font-size: 1.8rem;
  font-weight: 600;
}
.footer-wrapper .footer-text-wrapper .footer-tag-line-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
}
.footer-wrapper .newsletter-wrapper {
  margin: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.footer-wrapper .newsletter-wrapper .newsletter-form-wrapper {
  gap: 20px;
  display: flex;
  align-items: center;
  width: 70%;
}
@media (max-width: 1023px) {
  .footer-wrapper .newsletter-wrapper .newsletter-form-wrapper {
    width: 100%;
  }
}
.footer-wrapper .newsletter-wrapper .newsletter-form-wrapper .contact-email {
  padding: 10px 20px;
  outline: none;
  border-radius: 5px;
  border: none;
  flex-grow: 1;
}
.footer-wrapper .newsletter-wrapper .newsletter-form-wrapper .link-button {
  padding: 10px 20px;
  background-color: #025a31;
  border: 1px solid #025a31;
  border-radius: 5px;
  letter-spacing: 1px;
}
.footer-wrapper .newsletter-wrapper .newletter-helper-text {
  color: rgba(242, 242, 242, 0.6);
  font-size: 0.7rem;
  letter-spacing: 1;
}
.footer-wrapper .footer-link-wrapper {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 1023px) {
  .footer-wrapper .footer-link-wrapper {
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 90px;
  }
}
.footer-wrapper .footer-link-wrapper .footer-social-media-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-wrapper .footer-link-wrapper .footer-social-media-wrapper .footer-logo-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-wrapper .footer-link-wrapper .footer-social-media-wrapper .social-icons-wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
}
.footer-wrapper .footer-link-wrapper .footer-navigation-link-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-wrapper .footer-link-wrapper .footer-navigation-link-wrapper .footer-title-wrapper {
  font-size: 1.25rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}
.footer-wrapper .footer-link-wrapper .footer-navigation-link-wrapper .footer-link-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 500;
  transition: all 0.2s ease-in;
  font-size: 1rem;
}
.footer-wrapper .footer-link-wrapper .footer-navigation-link-wrapper .footer-link-content a {
  color: #fff;
  text-decoration: none;
}
.footer-wrapper .footer-link-wrapper .footer-navigation-link-wrapper .footer-link-content a:hover {
  text-decoration: underline;
}
.footer-wrapper .footer-text {
  margin-top: 80px;
  text-align: center;
  color: rgba(242, 242, 242, 0.6);
  font-size: 14px;
  letter-spacing: 1px;
}

.add-to-cart-modal-wrapper {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
}
.add-to-cart-modal-wrapper .modal-content {
  background: #fff;
  width: 1024px;
  height: 480px;
  position: relative;
  padding: 40px;
}
@media (max-width: 1023px) {
  .add-to-cart-modal-wrapper .modal-content {
    width: 680px;
  }
}
.add-to-cart-modal-wrapper .modal-content .close-modal-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper {
  display: flex;
  gap: 20px;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information {
  flex-grow: 1;
  padding: 0 10px;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-product-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 25px;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-product-price {
  font-size: 1.25;
  color: #303336;
  font-weight: 600;
  margin-bottom: 25px;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-product-description {
  font-size: 1rem;
  color: #303336;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 25px;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-product-link {
  color: #7a9ea1;
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-product-link:hover {
  opacity: 0.8;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-cta-wrapper {
  display: flex;
  gap: 10px;
  margin-top: 25px;
  align-items: center;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-cta-wrapper > .add-to-cart-qty-wrapper {
  gap: 10px;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-cta-wrapper > .add-to-cart-qty-wrapper bottom {
  padding: 0;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-cta-wrapper > .add-to-cart-qty-wrapper .quantity-input {
  width: 16px;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-cta-wrapper .add-to-cart-btn-group {
  display: flex;
  gap: 10px;
  width: 100%;
}
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-cta-wrapper .add-to-cart-btn-group .add-to-cart-btn,
.add-to-cart-modal-wrapper .modal-content .add-to-cart-product-wrapper .add-to-cart-product-information .add-to-cart-cta-wrapper .add-to-cart-btn-group .buy-now-btn {
  flex-grow: 1;
  padding: 14px;
}

.link-button {
  color: #fff;
  background-color: #303336;
  border: 1px solid #303336;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 2px;
  display: inline;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
  box-sizing: border-box;
}
.link-button.hover {
  opacity: 0.8;
}

.outline-btn {
  color: #303336;
  font-weight: 500;
  font-size: 1re;
  border-radius: 2px;
  display: flex;
  align-self: center;
  padding: 10px 40px;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
  border: 1px solid #303336;
  background-color: transparent;
  border-radius: 2px;
}
.outline-btn:hover {
  background-color: #303336;
  color: #fff;
}

.mobile-menu-drawer-wrapper {
  position: fixed;
  bottom: 0;
  left: -100%;
  width: 100%;
  background: #fff;
  box-shadow: rgba(48, 51, 54, 0.16) 0px 1px 3px;
  transition: left 0.3s ease-in-out;
  z-index: 100;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mobile-menu-drawer-wrapper.active {
  display: flex;
  left: 0;
}
.mobile-menu-drawer-wrapper .mobile-naivgation-wrapper {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  padding: 20px;
}
.mobile-menu-drawer-wrapper .mobile-naivgation-wrapper .mobile-navigation-list {
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-menu-drawer-wrapper .mobile-naivgation-wrapper .mobile-navigation-list:hover {
  text-decoration: underline;
}
.mobile-menu-drawer-wrapper .mobile-naivgation-wrapper .mobile-navigation-list a {
  color: unset;
  text-decoration: none;
}
.mobile-menu-drawer-wrapper .mobile-menu-login-wrapper {
  border-top: 1px solid #303336;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}
.mobile-menu-drawer-wrapper .mobile-menu-login-wrapper a {
  color: unset;
  text-decoration: none;
}
.mobile-menu-drawer-wrapper .mobile-menu-login-wrapper a:hover {
  text-decoration: underline;
}

.featured-product-image-wrapper {
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.featured-product-image-wrapper .open-modal-btn {
  position: absolute;
  bottom: 15px;
  right: 0px;
  cursor: pointer;
  display: none;
  transition: all 0.2s ease-in-out;
}
.featured-product-image-wrapper .open-modal-btn:hover {
  opacity: 0.5;
}
.featured-product-image-wrapper:hover .open-modal-btn {
  display: block;
}
.featured-product-image-wrapper:hover + .open-modal-btn .product-title:hover {
  opacity: 0.5;
}

.featured-product-information {
  text-align: center;
}
.featured-product-information a {
  color: unset;
  text-decoration: none;
}
.featured-product-information a .product-title {
  font-weight: 400;
}
.featured-product-information a:hover {
  text-decoration: underline;
}
.featured-product-information .product-price {
  font-weight: 600;
}

.add-to-cart-qty-wrapper {
  background-color: #f8f4ef;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 10px;
  gap: 5px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-to-cart-qty-wrapper .qty-btn,
.add-to-cart-qty-wrapper .quantity-input {
  background-color: transparent;
  outline: transparent;
  border: none;
  font-size: 16px;
}
.add-to-cart-qty-wrapper .quantity-input {
  width: 10px;
  text-align: center;
}
.add-to-cart-qty-wrapper .qty-btn {
  cursor: pointer;
}
.add-to-cart-qty-wrapper .qty-btn.disable {
  cursor: not-allowed;
  opacity: 0.5;
}

.search-drawer-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0;
  overflow: hidden;
  z-index: 30;
  background-color: rgba(242, 242, 242, 0.95);
  transition: height 0.4s ease-in-out;
}
.search-drawer-wrapper.active {
  height: 100vh;
}
.search-drawer-wrapper .search-drawer-close-icon {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 15px;
  color: #303336;
  font-size: 1.24;
}
.search-drawer-wrapper .search-drawer-content {
  height: 100%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
.search-drawer-wrapper .search-drawer-input-field-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.search-drawer-wrapper .search-drawer-input-field-wrapper .search-drawer-input-field-group {
  border-bottom: 1px solid #303336;
  width: 50%;
  display: flex;
  padding: 10px 10px 5px 10px;
  gap: 10px;
}
.search-drawer-wrapper .search-drawer-input-field-wrapper .search-drawer-input-field-group .search-field-input {
  outline: none;
  border: none;
  width: 100%;
  background-color: transparent;
  font-size: 1.1rem;
  text-align: center;
}
.search-drawer-wrapper .search-product-result-list {
  margin-top: 40px;
  height: 100%;
  overflow: auto;
}
.search-drawer-wrapper .search-product-result-list .search-list-loader {
  top: 30%;
}
.search-drawer-wrapper .search-product-result-list .search-list-loader.active {
  display: block;
}

@keyframes glassyZoomFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.wishlist-drawer-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -110%;
  width: 450px;
  height: 100vh;
  background: #fff;
  box-shadow: rgba(48, 51, 54, 0.16) 0px 1px 3px;
  transition: right 0.3s ease-in-out;
  z-index: 999;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.wishlist-drawer-wrapper.active {
  display: flex;
  right: 0;
}
.wishlist-drawer-wrapper .wishlist-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #303336;
  padding: 15px;
}
.wishlist-drawer-wrapper .wishlist-header .wishlist-close {
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.wishlist-drawer-wrapper .wishlist-content-wrapper {
  overflow-y: auto;
  flex-grow: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.wishlist-drawer-wrapper .wishlist-content-wrapper .wishlist-items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  overflow: scroll;
}
.wishlist-drawer-wrapper .wishlist-content-wrapper .wishlist-items-wrapper .wishlist-item-details {
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
  padding: 20px 15px;
}
.wishlist-drawer-wrapper .wishlist-content-wrapper .wishlist-items-wrapper .wishlist-item-details .wishlist-loader {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #303336;
}
.wishlist-drawer-wrapper .wishlist-content-wrapper .wishlist-items-wrapper .wishlist-item-details .wishlist-product-information {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}
.wishlist-drawer-wrapper .wishlist-content-wrapper .wishlist-items-wrapper .wishlist-item-details .wishlist-product-information .wishlist-item-price {
  font-weight: 500;
}
.wishlist-drawer-wrapper .wishlist-content-wrapper .wishlist-items-wrapper .wishlist-item-details .remove-wishlist-item {
  position: absolute;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  top: 10px;
  right: 15px;
}
.wishlist-drawer-wrapper .wishlist-content-wrapper .wishlist-items-wrapper .wishlist-item-details .remove-wishlist-item.disabled {
  cursor: not-allowed;
}
.wishlist-drawer-wrapper .wishlist-content-wrapper .cart-empty-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-banner-wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
@media (max-width: 1023px) {
  .feature-banner-wrapper.banner-parallex {
    background-size: contain;
    background-position: unset;
  }
}
.feature-banner-wrapper.feature-banner-large {
  height: 780px;
  padding: 80px 0;
}
.feature-banner-wrapper.feature-banner-medium {
  height: 50vh;
  padding: 60px 0;
}
@media (max-width: 980px) {
  .feature-banner-wrapper.feature-banner-medium {
    height: 30vh;
  }
}
.feature-banner-wrapper.feature-banner-small {
  height: 30vh;
  padding: 40px 0;
}
.feature-banner-wrapper.feature-banner-small .feature-banner-title {
  font-size: 2rem !important;
  font-weight: 600;
  color: #000;
  line-height: 1.2;
  margin: 0;
}
.feature-banner-wrapper.feature-banner-small .feature-subtitle {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
}
.feature-banner-wrapper.feature-banner-small .link-button {
  padding: 15px !important;
}
.feature-banner-wrapper .container {
  height: 100%;
}
.feature-banner-wrapper .row {
  height: 100%;
}
.feature-banner-wrapper .col {
  height: 100%;
  display: flex;
}
.feature-banner-wrapper .feature-banner-content-inner-wrapper {
  width: 100%;
  display: flex;
  text-align: center;
}
.feature-banner-wrapper .feature-banner-content-inner-wrapper.vertical-content-middle {
  align-items: center;
}
.feature-banner-wrapper .feature-banner-content-inner-wrapper.vertical-content-top {
  align-items: top;
}
.feature-banner-wrapper .feature-banner-content-inner-wrapper.vertical-content-bottom {
  align-items: end;
}
.feature-banner-wrapper .feature-banner-content-inner-wrapper.horizontal-content-left {
  justify-content: flex-start;
}
.feature-banner-wrapper .feature-banner-content-inner-wrapper.horizontal-content-center {
  justify-content: center;
}
.feature-banner-wrapper .feature-banner-content-inner-wrapper.horizontal-content-right {
  justify-content: flex-end;
}
.feature-banner-wrapper .feature-banner-content-inner-wrapper.text-alignment-left {
  text-align: left;
}
.feature-banner-wrapper .feature-banner-content-inner-wrapper.text-alignment-left .link-button,
.feature-banner-wrapper .feature-banner-content-inner-wrapper.text-alignment-left .feature-subtitle {
  display: flex;
  align-self: baseline;
}
.feature-banner-wrapper .feature-banner-content-inner-wrapper.text-alignment-center {
  text-align: center;
}
.feature-banner-wrapper .feature-banner-content-inner-wrapper.text-alignment-right {
  text-align: right;
}
.feature-banner-wrapper .feature-banner-content-inner-wrapper.text-alignment-right .link-button,
.feature-banner-wrapper .feature-banner-content-inner-wrapper.text-alignment-right .feature-subtitle {
  display: flex;
  align-self: end;
}
.feature-banner-wrapper .feature-banner-content-inner-wrapper .feature-banner-information-wrapper {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 10;
}
.feature-banner-wrapper .feature-banner-content-inner-wrapper .feature-banner-information-wrapper.content-width-small {
  width: 50%;
}
.feature-banner-wrapper .feature-banner-content-inner-wrapper .feature-banner-information-wrapper.content-width-medium {
  width: 80%;
}
.feature-banner-wrapper .feature-banner-content-inner-wrapper .feature-banner-information-wrapper.content-width-large {
  width: 100%;
}
.feature-banner-wrapper .feature-banner-content-inner-wrapper .feature-banner-information-wrapper .feature-banner-title {
  font-size: 46px;
  font-weight: 600;
  line-height: 62px;
  margin: 0;
}
@media (max-width: 980px) {
  .feature-banner-wrapper .feature-banner-content-inner-wrapper .feature-banner-information-wrapper .feature-banner-title {
    font-size: 36px;
    line-height: 50px;
  }
}
.feature-banner-wrapper .feature-banner-content-inner-wrapper .feature-banner-information-wrapper .feature-subtitle {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}
.feature-banner-wrapper .feature-banner-content-inner-wrapper .feature-banner-information-wrapper .outline-btn {
  border-color: #fff !important;
  color: #fff !important;
  padding: 15px 30px;
}
.feature-banner-wrapper .feature-banner-content-inner-wrapper .feature-banner-information-wrapper .outline-btn:hover {
  border-color: #303336 !important;
}

.cart-drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 450px;
  height: 100vh;
  background: white;
  box-shadow: rgba(48, 51, 54, 0.16) 0px 1px 3px;
  transition: right 0.3s ease-in-out;
  z-index: 999;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1023px) {
  .cart-drawer {
    width: 100%;
  }
}
.cart-drawer.active {
  display: flex;
  right: 0;
}
.cart-drawer .cart-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(242, 242, 242, 0.6);
  padding: 15px;
}
.cart-drawer .cart-header .cart-close {
  font-size: 1.3rem;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 10;
}
.cart-drawer .cart-content-wrapper {
  overflow-y: auto;
  flex-grow: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.cart-drawer .cart-content-wrapper .cart-items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  overflow: scroll;
}
.cart-drawer .cart-content-wrapper .cart-items-wrapper .cart-item-details {
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
  padding: 20px 15px;
}
.cart-drawer .cart-content-wrapper .cart-items-wrapper .cart-item-details .item-loader {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.05);
}
.cart-drawer .cart-content-wrapper .cart-items-wrapper .cart-item-details .cart-product-information {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}
.cart-drawer .cart-content-wrapper .cart-items-wrapper .cart-item-details .cart-product-information .cart-item-price {
  font-weight: 500;
}
.cart-drawer .cart-content-wrapper .cart-items-wrapper .cart-item-details .cart-product-information .add-to-cart-qty-wrapper {
  gap: 5px;
  width: 110px;
}
.cart-drawer .cart-content-wrapper .cart-items-wrapper .cart-item-details .cart-product-information .add-to-cart-qty-wrapper .quantity-input {
  width: 15px;
}
.cart-drawer .cart-content-wrapper .cart-items-wrapper .cart-item-details .remove-cart-item {
  position: absolute;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  top: 10px;
  right: 15px;
}
.cart-drawer .cart-content-wrapper .cart-items-wrapper .cart-item-details .remove-cart-item.disabled {
  cursor: not-allowed;
}
.cart-drawer .cart-content-wrapper .cart-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-top: 1px solid rgba(242, 242, 242, 0.6);
  padding: 15px;
}
.cart-drawer .cart-content-wrapper .cart-footer .cart-total-price {
  display: flex;
  justify-content: space-between;
}
.cart-drawer .cart-content-wrapper .cart-footer .cart-total-price .cart-total-text {
  font-size: 16px;
  font-weight: 500;
}
.cart-drawer .cart-content-wrapper .cart-footer .cart-total-price .cart-total-amount {
  font-size: 16px;
  font-weight: 500;
}
.cart-drawer .cart-content-wrapper .cart-footer .terms-condition-wrapper {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cart-drawer .cart-content-wrapper .cart-footer .terms-condition-wrapper .checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
.cart-drawer .cart-content-wrapper .cart-footer .link-button {
  width: 100%;
  color: #fff !important;
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 10px;
}
.cart-drawer .cart-content-wrapper .cart-footer .link-button.disable {
  opacity: 0.5;
  cursor: not-allowed;
}
.cart-drawer .cart-content-wrapper .cart-empty-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-testimonials-wrapper .col {
  width: 100%;
  position: relative;
}
.customer-testimonials-wrapper .col .swiper-button-next,
.customer-testimonials-wrapper .col .swiper-button-prev {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  top: 61% !important;
}
.customer-testimonials-wrapper .col .swiper-button-next::after,
.customer-testimonials-wrapper .col .swiper-button-prev::after {
  font-size: 16px;
}
.customer-testimonials-wrapper .col .swiper-button-next:hover,
.customer-testimonials-wrapper .col .swiper-button-prev:hover {
  background: #fff;
  transform: translateY(-50%) scale(1.1);
}
.customer-testimonials-wrapper .col .swiper-button-prev {
  left: 5px;
}
.customer-testimonials-wrapper .col .swiper-button-next {
  right: 0;
}
.customer-testimonials-wrapper .section-title-wrapper {
  display: flex;
  justify-content: center;
}
.customer-testimonials-wrapper .swiper-wrapper {
  padding: 0 10px;
  height: auto;
}
.customer-testimonials-wrapper .swiper-wrapper .swiper-slide {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 20px;
  box-shadow: rgba(48, 51, 54, 0.16) 0px 1px 3px;
}
.customer-testimonials-wrapper .swiper-wrapper .swiper-slide > p {
  line-height: 24px;
}

.featured-product-wrapper .row {
  position: relative;
}
.featured-product-wrapper .row .swiper-button-next,
.featured-product-wrapper .row .swiper-button-prev {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.featured-product-wrapper .row .swiper-button-next::after,
.featured-product-wrapper .row .swiper-button-prev::after {
  font-size: 16px;
}
.featured-product-wrapper .row .swiper-button-next:hover,
.featured-product-wrapper .row .swiper-button-prev:hover {
  background: rgba(242, 242, 242, 0.6);
  transform: translateY(-50%) scale(1.1);
}
.featured-product-wrapper .row .swiper-button-prev {
  left: -5px;
}
.featured-product-wrapper .row .swiper-button-next {
  right: 5px;
}
.featured-product-wrapper .row .col {
  width: 100%;
}
.featured-product-wrapper .section-title-wrapper {
  display: flex;
  justify-content: center;
}
.featured-product-wrapper .product-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  box-sizing: border-box;
}
.featured-product-wrapper .product-list-wrapper .featured-product-inner-wrapper {
  box-sizing: border-box;
}
.featured-product-wrapper .swiper {
  width: 100%;
}
.featured-product-wrapper .swiper .featured-product-inner-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.featured-product-wrapper .swiper .swiper-button-next {
  right: 3px !important;
}
.featured-product-wrapper .swiper .swiper-button-prev {
  left: 3px !important;
}
.featured-product-wrapper .not-product-found-text {
  text-align: center;
}

.promotional-banner-wrapper {
  padding: 15px !important;
  display: flex !important;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
  gap: 10px;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  background-color: #303336;
  color: rgba(242, 242, 242, 0.6);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.promotional-banner-wrapper .col {
  width: 100%;
  position: relative;
}
.promotional-banner-wrapper:hover .swiper-button-next,
.promotional-banner-wrapper:hover .swiper-button-prev {
  display: flex;
}
.promotional-banner-wrapper .promotional-primary-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.promotional-banner-wrapper .swiper-button-next,
.promotional-banner-wrapper .swiper-button-prev {
  margin-top: 0 !important;
  transform: translateY(-50%) !important;
  background: none;
  color: rgba(242, 242, 242, 0.6) !important;
  opacity: 0.5;
}
.promotional-banner-wrapper .swiper-button-next:hover,
.promotional-banner-wrapper .swiper-button-prev:hover {
  background-color: transparent !important;
  opacity: 1;
}
.promotional-banner-wrapper .swiper-button-next::after,
.promotional-banner-wrapper .swiper-button-prev::after {
  font-size: 0.9rem;
}
@media (max-width: 1023px) {
  .promotional-banner-wrapper .swiper-button-next {
    right: -10px;
  }
}
@media (max-width: 1023px) {
  .promotional-banner-wrapper .swiper-button-prev {
    left: -10px;
  }
}

.product-show-case-wrapper .show-case-inner-wrapper {
  display: flex;
  flex-direction: column;
}
.product-show-case-wrapper .show-case-inner-wrapper .show-case-product-content-wrapper {
  display: flex;
  gap: 40px;
}
@media (max-width: 1023px) {
  .product-show-case-wrapper .show-case-inner-wrapper .show-case-product-content-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.product-show-case-wrapper .show-case-inner-wrapper .show-case-product-content-wrapper .show-case-product-image {
  width: 100%;
}
.product-show-case-wrapper .show-case-inner-wrapper .show-case-product-content-wrapper .show-case-product-information {
  flex-grow: 1;
  padding: 0 10px;
}
.product-show-case-wrapper .show-case-inner-wrapper .show-case-product-content-wrapper .show-case-product-information .show-case-product-title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 25px;
}
.product-show-case-wrapper .show-case-inner-wrapper .show-case-product-content-wrapper .show-case-product-information .show-case-product-price {
  font-size: 1.25rem;
  color: #303336;
  font-weight: 500;
  margin-bottom: 25px;
}
.product-show-case-wrapper .show-case-inner-wrapper .show-case-product-content-wrapper .show-case-product-information .show-case-product-description {
  font-size: 1rem;
  color: #303336;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 25px;
}
.product-show-case-wrapper .show-case-inner-wrapper .show-case-product-content-wrapper .show-case-product-information .show-case-product-details-link {
  color: rgba(242, 242, 242, 0.6);
  font-size: 1rem;
  font-weight: 400;
  line-height: 28px;
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
}
.product-show-case-wrapper .show-case-inner-wrapper .show-case-product-content-wrapper .show-case-product-information .show-case-product-details-link:hover {
  opacity: 0.8;
}
.product-show-case-wrapper .show-case-inner-wrapper .show-case-product-content-wrapper .show-case-product-information .show-case-product-cta-wrapper {
  display: flex;
  gap: 10px;
  margin-top: 25px;
  align-items: center;
}
@media (max-width: 1023px) {
  .product-show-case-wrapper .show-case-inner-wrapper .show-case-product-content-wrapper .show-case-product-information .show-case-product-cta-wrapper {
    gap: 15px;
  }
}
.product-show-case-wrapper .show-case-inner-wrapper .show-case-product-content-wrapper .show-case-product-information .show-case-product-cta-wrapper.disable {
  cursor: not-allowed;
}
.product-show-case-wrapper .show-case-inner-wrapper .show-case-product-content-wrapper .show-case-product-information .show-case-product-cta-wrapper.disable .add-to-cart-qty-wrapper {
  pointer-events: none;
  opacity: 0.5;
}
.product-show-case-wrapper .show-case-inner-wrapper .show-case-product-content-wrapper .show-case-product-information .show-case-product-cta-wrapper.disable .show-case-btn-group {
  pointer-events: none;
  opacity: 0.5;
}
.product-show-case-wrapper .show-case-inner-wrapper .show-case-product-content-wrapper .show-case-product-information .show-case-product-cta-wrapper > .add-to-cart-qty-wrapper {
  gap: 10px;
}
.product-show-case-wrapper .show-case-inner-wrapper .show-case-product-content-wrapper .show-case-product-information .show-case-product-cta-wrapper > .add-to-cart-qty-wrapper bottom {
  padding: 0;
}
.product-show-case-wrapper .show-case-inner-wrapper .show-case-product-content-wrapper .show-case-product-information .show-case-product-cta-wrapper > .add-to-cart-qty-wrapper .quantity-input {
  width: 16px;
}
.product-show-case-wrapper .show-case-inner-wrapper .show-case-product-content-wrapper .show-case-product-information .show-case-product-cta-wrapper .show-case-btn-group {
  display: flex;
  gap: 10px;
  width: 100%;
}
@media (max-width: 980px) {
  .product-show-case-wrapper .show-case-inner-wrapper .show-case-product-content-wrapper .show-case-product-information .show-case-product-cta-wrapper .show-case-btn-group {
    gap: 15px;
  }
  .product-show-case-wrapper .show-case-inner-wrapper .show-case-product-content-wrapper .show-case-product-information .show-case-product-cta-wrapper .show-case-btn-group .outline-btn {
    align-self: unset;
  }
}
.product-show-case-wrapper .show-case-inner-wrapper .show-case-product-content-wrapper .show-case-product-information .show-case-product-cta-wrapper .show-case-btn-group .single-product-add-to-cart-btn,
.product-show-case-wrapper .show-case-inner-wrapper .show-case-product-content-wrapper .show-case-product-information .show-case-product-cta-wrapper .show-case-btn-group .single-product-buy-now-btn {
  flex-grow: 1;
  padding: 14px;
}

.three-content-block-wrapper {
  padding: 80px 0;
  box-sizing: border-box;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .three-content-block-wrapper {
    height: 748px;
  }
  .three-content-block-wrapper .container {
    height: 100%;
  }
  .three-content-block-wrapper .container .row {
    height: 100%;
  }
  .three-content-block-wrapper .container .row .col {
    width: 100%;
    height: 100%;
  }
}
.three-content-block-wrapper .three-content-inner-wrapper {
  display: flex;
  gap: 20px;
}
.three-content-block-wrapper .three-content-inner-wrapper .swiper-pagination {
  bottom: 0;
}
.three-content-block-wrapper .three-content-inner-wrapper .swiper-pagination .swiper-pagination-bullet {
  background: #303336;
}
.three-content-block-wrapper .three-content-inner-wrapper .block-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .three-content-block-wrapper .three-content-inner-wrapper .block-wrapper {
    max-width: 100%;
  }
}
.three-content-block-wrapper .three-content-inner-wrapper .block-wrapper .block-image-wrapper {
  width: 400px;
  height: 400px;
}
@media (max-width: 1199px) {
  .three-content-block-wrapper .three-content-inner-wrapper .block-wrapper .block-image-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.three-content-block-wrapper .three-content-inner-wrapper .block-wrapper .block-image-wrapper .block-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.three-content-block-wrapper .three-content-inner-wrapper .block-content-wrapper {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.three-content-block-wrapper .three-content-inner-wrapper .block-content-wrapper .block-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333;
  margin: 0;
  line-height: 1.3;
}
.three-content-block-wrapper .three-content-inner-wrapper .block-content-wrapper .block-divider {
  width: 60px;
  height: 3px;
  background-color: rgba(242, 242, 242, 0.6);
  border-radius: 2px;
  margin: 5px 0;
}
.three-content-block-wrapper .three-content-inner-wrapper .block-content-wrapper .block-information {
  font-size: 1rem;
  color: #303336;
  line-height: 1.5;
  margin: 0;
}

.two-column-image-wrapper .col-6 {
  padding: 10px;
}
.two-column-image-wrapper .image-wrapper {
  padding: 10px;
  height: 30vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url("http://127.0.0.1:9292/cdn/shop/files/banner.webp?v=1751338529&width=1600");
}
.two-column-image-wrapper .image-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
}
.two-column-image-wrapper .image-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  z-index: 2;
  position: relative;
  color: #fff;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Instrument Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main-overlay {
  position: fixed;
  transition: all 0.2s ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 999; /* make sure it's above everything else */
}

.disable-overlay {
  display: none;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.container .row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  gap: 10px;
  box-sizing: border-box;
}
.container .col {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top-color: #333; /* Customize spinner color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}

.active {
  display: block;
}

.swiper-button-next,
.swiper-button-prev {
  color: #333 !important;
  background: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  position: absolute;
  top: 42% !important;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.3s ease;
  background: rgba(255, 255, 255, 0.8);
  width: 35px;
  height: 35px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
  font-weight: bold;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgb(255, 255, 255);
  transform: translateY(-50%) scale(1.1);
}

.section-wrapper {
  padding: 60px 0;
}

.section-title {
  margin-bottom: 100px;
  font-size: 28px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-self: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 3px;
  background-color: #b8c6c6;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}

@media (max-width: 1023px) {
  .hide-mobile {
    display: none !important;
  }
}