.mobile-menu-drawer-wrapper {
  position: fixed;
  top: 47px;
  bottom: 0;
  left: -100%;
  width: calc(100% - 196px);
  height: 100vh;
  background: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease-in-out;
  z-index: 100;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.mobile-menu-drawer-wrapper.active {
  display: flex;
  left: 0;
}
.mobile-menu-drawer-wrapper .mobile-naivgation-wrapper {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}
.mobile-menu-drawer-wrapper .mobile-naivgation-wrapper .mobile-navigation-list {
  padding: 10px;
}
.mobile-menu-drawer-wrapper .mobile-naivgation-wrapper .mobile-navigation-list a {
  color: unset;
  text-decoration: none;
}