.add-to-cart-qty-wrapper {
  background-color: #f8f4ef;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 10px;
  gap: 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-to-cart-qty-wrapper .qty-btn,
.add-to-cart-qty-wrapper .quantity-input {
  background-color: transparent;
  outline: transparent;
  border: none;
  font-size: 16px;
}
.add-to-cart-qty-wrapper .quantity-input {
  width: 10px;
}
.add-to-cart-qty-wrapper .qty-btn {
  cursor: pointer;
}
.add-to-cart-qty-wrapper .qty-btn.disable {
  cursor: not-allowed;
  opacity: 0.5;
}