.promotional-banner-wrapper {
  padding: 15px !important;
  display: flex !important;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
  gap: 10px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  background-color: rgb(48, 51, 54);
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.promotional-banner-wrapper .col {
  width: 100%;
}
.promotional-banner-wrapper:hover .swiper-button-next,
.promotional-banner-wrapper:hover .swiper-button-prev {
  display: flex;
}
.promotional-banner-wrapper .swiper-button-next,
.promotional-banner-wrapper .swiper-button-prev {
  margin-top: 0 !important;
  transform: translateY(-50%) !important;
  background: none;
  color: #f2f2f2 !important;
  opacity: 0.5;
}
.promotional-banner-wrapper .swiper-button-next:hover,
.promotional-banner-wrapper .swiper-button-prev:hover {
  background-color: transparent !important;
  opacity: 1;
}
.promotional-banner-wrapper .swiper-button-next::after,
.promotional-banner-wrapper .swiper-button-prev::after {
  font-size: 14px;
}
.promotional-banner-wrapper .swiper-button-next {
  right: -5px;
}
.promotional-banner-wrapper .swiper-button-prev {
  left: -5px;
}