@import "./promotional-banner.css";
@import "./header.css";
@import "./feature-banner.css";
@import "./slogan.css";
@import "./featured-products.css";
@import "./cart-drawer.css";
@import "./add-to-cart-modal.css";
@import "./product-quantity.css";
@import "./footer.css";
@import "./testimonials.css";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Instrument Sans", sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

main {
  flex: 1 0 auto;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
}

/* Row - to clear floats or use flexbox */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px; /* negative padding to offset col padding */
  margin-right: -15px;
  height: 100%;
}

/* Column */
.col {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  flex: 1; /* will grow and fill */
  min-width: 0; /* prevent overflow */
  height: 100%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.col-4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.link-button {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  font-weight: 500;
  font-size: 16px;
  border-radius: 2px;
  width: 130px;
  display: inline;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
  box-sizing: border-box;
}

.outline-btn {
  color: #000;
  font-weight: 500;
  font-size: 16px;
  border-radius: 2px;
  width: 130px;
  display: flex;
  align-self: center;
  padding: 20px;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
  border: 1px solid #000;
}

.outline-btn:hover {
  opacity: 0.5;
}

.link-button:hover {
  opacity: 0.8;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
