@import "./promotional-banner.css";
@import "./header.css";
@import "./feature-banner.css";
@import "./slogan.css";
@import "./featured-products.css";
@import "./cart-drawer.css";
@import "./add-to-cart-modal.css";
@import "./product-quantity.css";
@import "./wishlist-drawer.css";
@import "./search-drawer.css";
@import "./product-card.css";

body {
  margin: 0;
  padding: 0;
  font-family: "Instrument Sans", sans-serif;
  font-style: normal;
  box-sizing: border-box;
  height: 100vh;
}

.main-overlay {
  position: fixed;
  transition: all 0.2s ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 999; /* make sure it's above everything else */
}

.disable-overlay {
  display: none;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Row - to clear floats or use flexbox */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px; /* negative padding to offset col padding */
  margin-right: -15px;
  row-gap: 10px;
}

/* Column */
.col {
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  flex: 1; /* will grow and fill */
  min-width: 0; /* prevent overflow */
  /* height: 100%; */
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .col-3 {
    width: 50%;
    flex: 50%;
  }
}

.col-4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .col-4 {
    width: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.link-button {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  font-weight: 500;
  font-size: 16px;
  border-radius: 2px;
  width: 130px;
  display: inline;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
  box-sizing: border-box;
}

.outline-btn {
  color: #000;
  font-weight: 500;
  font-size: 16px;
  border-radius: 2px;
  width: 130px;
  display: flex;
  align-self: center;
  padding: 20px;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
  border: 1px solid #000;
}

.outline-btn:hover {
  opacity: 0.5;
}

.link-button:hover {
  opacity: 0.8;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top-color: #333; /* Customize spinner color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.active {
  display: block;
}
