.two-column-image-wrapper .image-wrapper {
  padding: 10px;
  height: 30vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  box-sizing: border-box;
}
.two-column-image-wrapper .image-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  z-index: 2;
  position: relative;
}