.featured-product-wrapper {
  height: 420px;
  padding: 50px 0;

  .featured-product-image-wrapper {
    position: relative;
    cursor: pointer;
    z-index: 1;

    .open-modal-btn {
      position: absolute;
      font-size: 45px;
      bottom: 15px;
      right: 20px;
      cursor: pointer;
      display: none;
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      .open-modal-btn {
        display: block;
      }
    }
  }
  .featured-product-information {
    text-align: center;
    a {
      color: unset;
      text-decoration: none;
      .product-title {
        font-weight: 400;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    .product-price {
      font-weight: 600;
    }
  }
}
