.footer-wrapper {
  padding: 100px 0;
  padding-bottom: 20px;
  background-color: rgb(48, 51, 54);

  .footer-text-wrapper {
    border-top: 1px solid rgba(242, 242, 242, 0.6);
    border-bottom: 1px solid rgba(242, 242, 242, 0.6);
    padding: 80px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #fff;

    .footer-title-text {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1px;
    }

    .footer-tag-line {
      font-size: 28px;
      font-weight: 600;
    }

    .footer-tag-line-description {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
    }
  }

  .newsletter-wrapper {
    margin: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .newsletter-form-wrapper {
      gap: 20px;
      display: flex;
      align-items: center;
      width: 70%;

      @media (max-width: 980px) {
        width: 100%;
      }

      .contact-email {
        padding: 10px 20px;
        outline: none;
        border-radius: 5px;
        border: none;
        flex-grow: 1;
      }
      .link-button {
        padding: 10px 20px;
        background-color: rgb(2, 90, 49);
        border: 1px solid rgb(2, 90, 49);
        border-radius: 5px;
        letter-spacing: 1px;
      }
    }
    .newletter-helper-text {
      color: rgb(112, 112, 112);
      font-size: 10px;
      letter-spacing: 1;
    }
  }

  .footer-link-wrapper {
    display: flex;
    justify-content: space-around;

    @media (max-width: 980px) {
      // justify-content: space-between;
      flex-direction: column-reverse;
      justify-content: space-between;
      gap: 90px;
    }

    .footer-social-media-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .footer-logo-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .social-icons-wrapper {
        display: flex;
        gap: 15px;
        align-items: center;
      }
    }

    .footer-navigation-link-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .footer-title-wrapper {
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        margin-bottom: 20px;
      }
      .footer-link-content {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-weight: 500;
        font-size: 16px;
        a {
          color: #fff;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .footer-text {
    margin-top: 80px;
    text-align: center;
    color: rgb(112, 112, 112);
    font-size: 14px;
    letter-spacing: 1px;
  }
}
