.header-wrapper {
  height: 55px;
  width: 100vw;
  background-color: #fff;
  transition: all 0.3s ease-in;
  z-index: 25;
  left: 0;
  &.sticky {
    top: 0;
    position: fixed;
    box-shadow: rgba(48, 51, 54, 0.16) 0px 1px 3px;
  }
  &.mobile-navigation-menu {
    position: fixed;
    left: 80%;
  }
  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mobile-menu-wrapper {
      display: none;

      @media (max-width: 980px) {
        display: unset;
      }
      .ham-burger-menu {
        width: 25px;
        height: 20px;
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.2s ease-in-out;

        span {
          height: 2px;
          background: #000;
          border-radius: 2px;
          transition: all 0.3s ease;
        }
        &.active {
          span:nth-child(1) {
            transform: rotate(48deg) translate(7px, 6px);
          }
          span:nth-child(2) {
            opacity: 0;
          }
          span:nth-child(3) {
            transform: rotate(-48deg) translate(6px, -6px);
          }
        }
      }
    }

    .menu-left-wrapper {
      padding: 10px 0;
    }
    .menu-right-wrapper {
      display: flex;
      align-items: center;
      gap: 20px;
      .navigation-wrappper {
        display: flex;
        list-style: none;
        gap: 15px;
        font-weight: 400;
        a {
          color: unset;
          text-decoration: none;
        }
        .navigation-list {
          cursor: pointer;
          transition: all 0.2s ease-in;
          &:hover {
            color: #7f8c8d;
          }
        }

        .sub-navigation-wrapper {
          position: relative;
          a {
            color: unset;
            text-decoration: none;
          }

          .sub-menu-wrapper {
            overflow: hidden;
            list-style: none;
            position: absolute;
            left: 0;
            width: 200px;
            padding-inline-start: 10px;
            flex-direction: column;
            background-color: #fff;
            color: #000;
            display: flex;
            height: 0;
            transition: height 0.3s ease;
            visibility: hidden;
            .sub-menu-list {
              cursor: pointer;
              transition: all 0.2s ease-in;
              padding: 10px;
              &:hover {
                color: #7f8c8d;
              }
              &:first-child {
                padding-top: 20px;
              }
            }
          }
        }
      }

      .menu-icon-wrapper {
        display: flex;
        gap: 20px;
        align-items: center;

        img {
          cursor: pointer;
        }

        a {
          color: unset;
          display: flex;
          align-items: center;
        }

        .add-to-cart-icon-group {
          display: flex;
          align-items: center;
          position: relative;
          .cart-count-number {
            font-size: 12px;
            font-weight: 500;
            position: absolute;
            top: -10px;
            right: -10px;
          }
        }
      }
    }
  }
}
