// Abstracts
@use "abstracts/_breakpoints" as *;
@use "abstracts/_variables" as *;

// Layouts
@use "layouts/header";
@use "layouts/footer";

// Components
@use "components/add-to-cart-modal";
@use "components/buttons";
@use "components/mobile-menu-drawer";
@use "components/product-card";
@use "components/product-quantity";
@use "components/search-drawer";
@use "components/wishlist-drawer";
@use "components/product-image-gallery";
@use "components/bread-crumbs";

// Sections
@use "sections/banner";
@use "sections/cart-drawer";
@use "sections/customer-testimonials";
@use "sections/product-list";
@use "sections/promotional-banner";
@use "sections/single-product-show-case";
@use "sections/three-content-block";
@use "sections/two-column-image";
@use "sections/product-details";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: $font-family-primary;
  -webkit-font-smoothing: antialiased; // Better font rendering on WebKit
  -moz-osx-font-smoothing: grayscale; // Better font rendering on Firefox/macOS
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main-overlay {
  position: fixed;
  transition: all 0.2s ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 999; /* make sure it's above everything else */
}

.disable-overlay {
  display: none;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    gap: 10px;
    box-sizing: border-box;
  }

  .col {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    width: 100%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top-color: #333; /* Customize spinner color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.active {
  display: block;
}

.swiper-button-next,
.swiper-button-prev {
  color: #333 !important;
  background: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  position: absolute;
  top: 42% !important;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.3s ease;
  background: rgba(255, 255, 255, 0.8);
  width: 35px;
  height: 35px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
  font-weight: bold;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(255, 255, 255, 1);
  transform: translateY(-50%) scale(1.1);
}

.section-wrapper {
  padding: 60px 0;

  @include responsive(tablet) {
    padding: 40px 0;
  }
}

.section-title {
  margin-bottom: 100px;
  font-size: 1.8rem;
  font-weight: 600;
  position: relative;
  display: flex;
  align-self: center;
  color: $dark-primary-textColor;

  @include responsive(tablet) {
    font-size: 1.4rem;
    margin-bottom: 60px;
  }
}

.section-title::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 1.5px;
  background-color: $divider-color;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}

@include responsive(tablet) {
  .hide-mobile {
    display: none !important;
  }
}
