.add-to-cart-qty-wrapper {
  background-color: #f8f4ef;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 10px;
  gap: 5px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .qty-btn,
  .quantity-input {
    background-color: transparent;
    outline: transparent;
    border: none;
    font-size: 16px;
  }

  .quantity-input {
    width: 10px;
    text-align: center;
  }

  .qty-btn {
    cursor: pointer;
    &.disable {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
