.search-drawer-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0;
  overflow: hidden;
  z-index: 30;
  background-color: rgba(242, 242, 242, 0.95);
  transition: height 0.4s ease-in-out;
  &.active {
    height: 100vh;
  }

  .search-drawer-close-icon {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    color: #000;
    font-size: 24px;
  }

  .search-drawer-content {
    height: 100%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    // border: 1px solid black;
  }

  .search-drawer-input-field-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    .search-drawer-input-field-group {
      border-bottom: 1px solid rgba(48, 51, 54, 0.3);
      width: 50%;
      display: flex;
      padding: 10px 10px 5px 10px;
      gap: 10px;

      .search-field-input {
        outline: none;
        border: none;
        width: 100%;
        background-color: transparent;
        font-size: 18px;
        text-align: center;
      }
    }
  }

  .search-product-result-list {
    margin-top: 40px;
    height: 100%;
    overflow: auto;

    .search-list-loader {
      top: 30%;
      &.active {
        display: block;
      }
    }
  }
}

@keyframes glassyZoomFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
