.slogan-wrapper {
  height: 643px;
  padding: 50px 0;
  .solgan-content-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .slogan-title {
      font-size: 22px;
      font-weight: 500;
    }

    .slogan-divider {
      width: 80px;
      height: 2px;
      background-color: #b8c6c6;
    }

    .slogan-information {
      font-size: 16px;
    }
  }
}
